header {
  background: #67ACB3;
  height: 50px;
  width: 100%;
  top: 0;
  position: fixed;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  height: 100%;
}
.nav {
  margin-top: 15px;
  padding-left: 0;
  box-sizing: border-box;
  float: left;
  position: relative;
	list-style: none;
}
.nav li {
  border-left: 3px solid #555;
	float: left;
	margin: 0;
	padding: 0;
}
.nav li a{
  padding: 0px 10px;
  display: block;
	text-decoration: none;
}
.hidNav{
  margin: 0;
  padding: 5px 0;
  list-style: none;
  float: left;
  position: absolute;
  left: 0;
  width: 100%;
  display: none;
  background: #00FFFF no-repeat bottom;
}
.hidNavLeftImg{
  width: 50px;
  height: 50px;
  background: black;
  float: left;
}
.pillLeft {
  margin: 15px;
  float: left;
}
.hidNav a { display: inline; }
.hidNav li a:hover { text-decoration: underline; }
.myFont { font-family: Microsoft JhengHei; }

